{% extends 'master.html' %}

{% block master %}

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Skysolar</h1>
            <p class="lead">100% Pronta Entrega. Envio rápido para todo o Brasil. · Solução completa. Qualidade e eficiência. · Faça seu cadastro e se torne um parceiro Sky Solar!</p>Fabricante e Distribuidora de geradores e produtos fotovoltaicos exclusivamente para integradores. Entrega rápida e segura. Cadastre-se!
            <br>
            <br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a href="subscribe" type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Registrar</button>
                <a href="/" type="button" class="btn btn-outline-secondary btn-lg px-4">Home</a>
            </div>
        </div>
        <div class="col-lg-2  p-1 m-4  shadow-lg">
            <img class="rounded-lg-3" src="assets/imgs/skysolar.jpg" alt="" width="300">
        </div>
    </div>
</div>

{% endblock %}