<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css'
        integrity='sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=='
        crossorigin='anonymous' />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <img src="/assets/imgs/skysolar.jpg" alt="mdo" width="50" height="50" class="rounded-circle">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
                    <li><a href="/usuario/list" class="nav-link px-2 link-dark">Usuários</a></li>
                    <li><a href="/about" class="nav-link px-2 link-dark">Sobre nós</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="container">
        {% block master %} {% endblock %}
    </div>

    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Emerson</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">emersonline2007@gmail.com</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">(92) 99479-1168</a></li>
            </ul>
            <p class="text-center text-muted">© 2023 skysolar</p>
        </footer>
    </div>

    <script src="/assets/js/actions.js"></script>
</body>

</html>