{% extends 'master.html' %}

{% block master %}

<h2>Users</h2>
<a href="novo" id="btn_subscribe" class="btn btn btn-outline-success btn-sm">Criar Usuário</a>
<h4 class="text-success">{{ message }}</h4>

<table class="table">
    <form class="col-md-6 col-lg-8 mb-3 mb-lg-0 me-lg-3" role="search" action="search" method="post">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="feildsearch">
    </form>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">RG</th>
            <th scope="col">CPF</th>
            <th scope="col">Nascimento</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for user in users %}
        <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.nome_completo }}</td>
            <td>{{ user.rg }}</td>
            <td>{{ user.cpf }}</td>
            <td>{{ user.dt_nascimento }}</td>
            <td class="d-grid gap-2 d-md-block">
                <a href="visualizar/{{user.id}}" type="button" class="btn btn btn-outline-success btn-sm">Visualizar</a>
                <a href="alterar/{{user.id}}" type="button" class="btn btn btn-outline-primary btn-sm">Alterar</a>
                <button type="button" class="btn btn btn-outline-danger btn-sm" id="btn_excluir" onclick="excluir('{{user.id}}')">Excluir</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}